.filter-event {
  max-height: 30px;
  font-size: 14px;
}
.btn-filter {
  display: inline;
  position: relative;
}
#btn-clear {
  margin: 0 2px;
}
#btn-filter {
  margin: 0 2px;
}
#filter-button-container {
  width: fit-content;
  margin: 3px auto;
}
