#lang-menu {
    background: white;
    color: black;
    position: absolute;
    padding: 40px;
    text-align: center;
    filter: drop-shadow(8px 8px 10px  black);
    border-radius: 20px;
    margin-left: 20px;
    li{
        display: block;
        margin-top: 5px;
    }
}

