.navbar {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  width: 100%;
  margin-bottom: 1rem;
  background: $nav_background;
  background-image: linear-gradient(-100deg, $nav_background, $sec_nav_background);
  border-bottom: solid 1px black;
  color: white;
  padding: 0.3rem 1rem;

  ul {
    margin-right: 30px;
  }

  li {
    display: inline;
    padding-left: 10px;
    position: relative;
  }

  a {
    padding: 0.45rem;
    margin: 0 0.25rem;
    -webkit-appearance: textarea;

    &:hover {
      color: #e8f3ff;
    }
  }

  .welcome {
    span {
      margin-right: 0.6rem;
    }
  }
}

.logo-small {
  height: 40px;
  margin: 0px 10px;
  display: block;
  margin-top: 8px;
}
