#external-events {
  padding: 10px;
  width: 80%;
  filter: drop-shadow(2px 4px 6px black);
  
  p{
    text-align: center;
    font-size: 2rem;
  }
}

.fc-event.druggable {
  height: 50px;
  margin-bottom: 5px;
  width: 250px;
}
