* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #666;
  background-color: $app_background;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

i {
  margin: 0 5px;
  cursor: pointer;
}
label {
  margin-bottom: 0;
}

.rtl {
  text-align: right;
}

.ltr {
  text-align: left;
}

.container {
  margin-top: 75px;
}

.text-center {
  text-align: center;
}

.center-horizontaly {
  margin: 0 auto;
  width: fit-content;
}
.clickable {
  &:hover {
    text-decoration: underline;
    // background-color:;
  }
}

.medium-field {
  width: 120px;
}
