* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #666;
  background-color: $app_background;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

i {
  margin: 0 5px;
  cursor: pointer;
}
label {
  margin-bottom: 0;
}

.rtl {
  text-align: right;
}

.ltr {
  text-align: left;
}

.container {
  margin-top: 75px;
}

.text-center {
  text-align: center;
}

.center-horizontaly {
  margin: 0 auto;
}

.center {
  transform: translateX(50%);
}

dl,
ol,
ul {
  margin-bottom: 0;
}

#courses-table,
#lecturers-table {
  height: 250px;
  overflow: auto;
  width: fit-content;

  table,
  td {
    border: 1px solid black;
    position: unset;
  }

  th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: white;
    border: 2px solid black;
  }

  td,
  th {
    padding: 0 10px;
  }
  tr:nth-child(even) {
    background-color: white;
  }
}

.tables-matching {
  width: 640px;
  margin: 20px auto;
}