dl,
ol,
ul {
  margin-bottom: 0;
}

#courses-table,
#lecturers-table {
  height: 400px;
  overflow: auto;
  width: fit-content;

  table,
  td {
    border: 1px solid black;
    position: unset;
  }

  th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: rgb(123, 180, 251);
    border: 2px solid black;
  }

  td,
  th {
    padding: 0 10px;
  }
  tr:nth-child(even) {
    background-color: white;
  }
  tr {
    cursor: pointer;
  }
}

.tables-matching {
  max-width: 700px;
  margin: 20px auto;
}

#event-tables {
  margin: 0 auto;
}

.large-table {
  max-width: 1000px;
}
.huge-table {
  max-width: 2000px;
}
.sumbit-schedule-table {
  margin: 30px auto;
  border: solid 1px black;

  th,
  td {
    margin: 10px;
    padding: 10px 20px;
    border: solid 1px black;
  }
}
