.calendar-title {
  text-align: center;
}
.fc-today {
  background: $app_background !important;
  border: none !important;
  border-top: 1px solid #ddd !important;
  font-weight: bold;
}
.fc-view-container {
  margin-bottom: 30px;
}

.fc-ltr .fc-time-grid .fc-event-container {
  margin: 0 0.5% !important;
}
