.calendar-title{
  text-align: center;
}
.fc-today {
  background: $app_background !important;
  border: none !important;
  border-top: 1px solid #ddd !important;
  font-weight: bold;
} 
.fc-view-container {
  margin-bottom: 30px;
}