#external-events {
  position: fixed;
  padding: 10px;
  margin-left: .5rem;

  p {
    text-align: center;
    font-size: 2rem;
  }

  &>div {
    overflow: auto;
    height: 400px;
    width: 300px;
    align-items: center;
    filter: drop-shadow(2px 4px 6px black);
    padding-right: 8px;
  }
}

.fc-event.druggable {
  height: 50px;
  margin: 0 auto;
  margin-bottom: 5px;
  width: 250px;
  text-align: center;

  &>div {
    margin-top: 4px;
  }
}

