#login-alert {
  color: red;
  padding-bottom: 5px;

  i {
    margin-right: 5px;
  }
}

#popup-container {
  width: 300px;
  height: 200px;
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  opacity: 0.8;
  border: solid 5px $sec_nav_background;
  border-radius: 20px;
  z-index: 4;
  animation: slide-up 0.5s;

  i {
    margin: 10px 10px 10px 10px;
  }

  h4 {
    text-align: center;
  }
  div {
    padding: 20px;
  }

  &.msg-error {
    border: solid 5px red;
  }
  &.msg-warning {
    border: solid 5px rgb(255, 230, 0);
  }
}


@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);

  }

  100% {
    opacity: 0.8;
    transform: translateY(0px);
  }
}
